body {
    box-sizing: border-box;
    background-color: $back_color;
    color: $text_color;
    font-family: '28 Days Later';
}

h1 {
    font-size: 100px
}

.btn-outline-info{
    margin-left: 10px;
    border-radius: 10px;
}